.page-content-box {
  height: 100vh;
  //border: 1px solid orange;
  //position: fixed;
  //overflow: scroll;
  margin-top: 81px;

  .page-content {
    //border: 1px solid chartreuse;
    height: 100%;
    margin-top: 35px;
    margin-bottom: 180px;
  }
}
